body {
    margin: 0;
    padding: 0;
    font-family: 'Poppin','Merriweather','Poly','Poller one', 'Rancho', sans-serif;
 }
 
 header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #fff;
    color: #000;
 }
 
 .logo {
    font-size: 2em;
    display: flex;
    align-items: center;
 }

 .logo img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  
  .logo p {
    position: relative;
    font-family: 'Poppin';
    font-weight: 200;
  }

  .content{
    
    display: flex;
    align-items: center;
  }
  .content img{
    width: 40px;
    height: 40px;
  }

 .call-button {
    background-color: #f2c14e;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    border: #f2c14e;
    cursor: pointer;
    margin-left: 60%;
 }

 .call-button img{
    width: 20px;
    height: 20px;
 }

 .call-button pre{
    font-weight: 500;
    font-family: 'Poppin';
    text-align: center;
 }
 
 .slider {
    background-image: url("img/homeh.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: calc(100vh - 80px);
    overflow: hidden;
 }
 
 .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: opacity 1s;
 }
 
 .slide.current {
    opacity: 1;
 }

 .slide img{
   bottom: 51%;
   position: absolute;
   right: 50%;
   width: 120px;
 }

 .slide pre{
   position: absolute;
    font-family: 'Merriweather';
    font-weight: 400;
    color: #fff;
    font-size: 60px;
    right: 40%;

 }

 .slide .content {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
 }
 
 .slide .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: #fff;
    background-color: #00b3b3;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
 }
 
 .slide .arrow.left {
    left: 0;
 }
 
 .slide .arrow.right {
    right: 0;
 }  

 #btn{
    height: 800px;
    position: relative;
    background-color: #334b35;
    z-index: 14;
    display: flex;
    /*flex-wrap: wrap;*/
 }

 .carre{
    z-index: -1;
    width: 20%;
    height: 240px;
    position: absolute;
    background-color: #263C28;
 }

 .carre-or{
   z-index: 1;
    width: 20px;
    height: 246px;
    position: absolute;
    background-color: #F7C35F;
    margin-left: 170px;
    margin-top: 29%;
 }

 .fern{
    width: 20%;
    height: 600px;
    margin-left: 13%;
    margin-top: 5%;
 }

 #btn h1{
    margin-left: 5%;
    font-family: 'Poly';
    font-weight: 200;
    color: #fff; 
 }

 #btn pre{
    margin-top: 8%;
    color: #fff;
    font-family: 'Poly';
    font-weight: 200;
    font-size: 23px;
    text-align: left;
 }

 .nature-img{
    position: absolute;
    height: 290px;
    bottom: 10%;
    right: 10%;
 }

#diff{
   height: 610px;
   position: relative;
   background-color: #6D8C54;
   z-index: 14;
   display: flex;
}

.p1 p{
   position: absolute;
   color: #fff;
   font-family: 'Poller one';
   font-weight: 900;
   margin-left: 590px;
}

.line{
   position: absolute;
   top: 6%;
   left: 40%;
   height: 1px;
   width: 297px;
   background-color: #fff;
}

.p2 p{
   position: absolute;
   color: #fff;
   font-family: 'Merriweather';
   left: 171px;
   top: 69%;
   font-size: 25px;
}

.img2{
   position: absolute;
   width: 270px;
   height: 55%;
   margin-top: 100px;
   right: 70%;
}

.p3 p{
   position: absolute;
   color: #fff;
   font-family: 'Merriweather';
   left: 1032px;
   top: 69%;
   font-size: 26px;
}

.img3{
   position: absolute;
   width: 270px;
   height: 55%;
   margin-top: 100px;
   left: 70%;
}
/**/
.btn-group .button1 {
   position: absolute;
   top: 387px;
   left: 21%;
   background-color: #F7C35F; 
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   float: left;
 }
 
 .btn-group .button1:hover {
   background-color: #fda504;
 }

 .btn-group .button2 {
   background-color: #F7C35F; 
   position: absolute;
   top: 387px;
   left: 79.2%;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   float: left;
 }
 
 .btn-group .button2:hover {
   background-color: #fda504;
 }

 /* monocotolydone*/
#mono{
   z-index: 5;
   position: relative;
   display: flex;
   background: linear-gradient(to bottom, #577B5A 50%, #6D8C54 50%);
   height: 680px;
}

.mo p{
   position: absolute;
   color: #fff;
   font-family: 'Poller one';
   font-weight: 900;
   margin-left: 590px;
}

.line1{
   position: absolute;
   top: 6%;
   left: 40%;
   height: 1px;
   width: 222px;
   background-color: #fff;
}

.im{
   z-index: 13;
   position: absolute;
   top: 50px;
   left: 8%;
   width: 265px;
   height: 59.9%;

}

.carre-or1{
   z-index: 6;
   width: 20px;
   height: 160px;
   position: absolute;
   background-color: #F7C35F;
   margin-left: 102px;
   top: 43.7%;
}

#cercle1{
   top: 18%;
   left: 40%;
   position: absolute;
   height: 55px;
   width: 55px;
   border-radius: 50%;
   display: block;
}

#cercle1:hover{
   transform: scale(4.9);
   z-index: 20;
  border-radius: 0;
}

.p4{
   position: absolute;
   top: 18%;
   left: 4%;
   font-family: 'Poller one';
   font-size: 20px;
}

.p4 span{
   font-weight: 900;
   color: #F7C35F;
}

#cercle2{
   top: 34%;
   left: 40%;
   position: absolute;
   height: 55px;
   width: 55px;
   border-radius: 50%;
   display: inline-block;
}

#cercle2:hover{
   transform: scale(4.9);
   z-index: 20;
   border-radius: 0;
}


.p5{
   position: absolute;
   top: 32%;
   left: 4%;
   font-family: 'Poller one';
   font-size: 20px;
}

.p5 span{
   font-weight: 900;
   color: #F7C35F;
}

.im1{
   z-index: 15;
   position: absolute;
   top: 250px;
   left: 21%;
   width: 265px;
   height: 59.9%;

}

.carre-or2{
   z-index: 14;
   width: 20px;
   height: 160px;
   position: absolute;
   background-color: #F7C35F;
   left: 20%;
   top: 73.1%;
}

#cercle3{
   top: 51%;
   left: 40%;
   position: absolute;
   height: 55px;
   width: 55px;
   border-radius: 50%;
   display: inline-block;
}

#cercle3:hover{
   transform: scale(4.9);
   z-index: 20;
   border-radius: 0;
}

.p6{
   position: absolute;
   top: 49%;
   left: 4%;
   font-family: 'Poller one';
   font-size: 20px;
}

.p6 span{
   font-weight: 900;
   color: #F7C35F;
}

#cercle4{
   top: 68%;
   left: 40%;
   position: absolute;
   height: 55px;
   width: 55px;
   border-radius: 50%;
   display: inline-block;
}

#cercle4:hover{
   border-radius: 0;
   transform: scale(4.9);
   z-index: 20;
}

.p7{
   position: absolute;
   top: 67.5%;
   left: 4%;
   font-family: 'Poller one';
   font-size: 20px;
}

.p7 span{
   font-weight: 900;
   color: #F7C35F;
}

/*deco*/
#dico{
   z-index: 5;
   position: relative;
   display: flex;
   background: linear-gradient(to bottom, #577B5A 50%, #6D8C54 50%);
   height: 680px;
}

.di p{
   position: absolute;
   color: #fff;
   font-family: 'Poller one';
   font-weight: 900;
   margin-left: 590px;
}

.line2{
   position: absolute;
   top: 6%;
   left: 40%;
   height: 1px;
   width: 207px;
   background-color: #fff;
}
/**/

.carre-or3{
   z-index: 6;
   width: 20px;
   height: 160px;
   position: absolute;
   background-color: #F7C35F;
   margin-left: 102px;
   top: 43.7%;
}

.carre-or4{
   z-index: 6;
   width: 20px;
   height: 160px;
   position: absolute;
   background-color: #F7C35F;
   left: 20%;
   top: 73%;
}

.pa4{
   position: absolute;
   top: 66.5%;
   left: 4%;
   font-family: 'Poller one';
   font-size: 20px;
}

.pa4 span{
   font-weight: 900;
   color: #F7C35F;
}


/**/
.leader-pn{
   background-image: url(img/field-3561850_1280.jpg);
   height: 300px;
   display: flex;
   opacity: 0.6;
   background-size: contain;
   position: relative;
}

.leader img{
   position: absolute;
   border-radius: 50%;
   height: auto;
   width: 60px;
   border: 2px solid rgb(0, 0, 0);
   left: 24.5%;
   top: 45%;
}

.pn{
   position: absolute;
   color: rgb(0, 0, 0);
   font-family: 'Rancho';
   left: 29%;
   font-size: 40px;
   font-weight: 200;
   top: 36%;
}

/**/
.footer{
   position: relative;
   background: linear-gradient(to bottom, #F7C35F 80%, #334b35 20%);
   height: 600px;
   display: flex;
   justify-content: space-around;
}

.footer-lien li {
   list-style: none;
   display: flex;
   justify-content: space-around;
   top: 20%;
}

.footer-lien li a{
   text-decoration: none;
   color: #797979;
   font-size: 25px;
}

.lien{
   color: #6D8C54;
   font-size: 30px;
   font-family: 'Merriweather';
   font-weight: 400;
}
.d2{
   display: flex;
   flex-flow: column;
}

.cont{
   left: 10px;
   top: 1%;
   font-family: 'Rancho';
   color: #6D8C54;
   font-size: 30px;
   font-weight: 400;
   position: absolute;
}

.eml{
   left: 10px;
   position: absolute;
   top: 15%;
   font-family: 'Rancho';
   color: #6D8C54;
   font-size: 30px;
   font-weight: 400;
}

.hn{
   top: 25%;
   position: absolute;
   color: #334B35;
   left: 3%;
   font-family: 'Merriweather';
   font-size: 30px;
}

.tl{
   left: 10px;
   top: 35%;
   position: absolute;
   font-family: 'Rancho';
   color: #6D8C54;
   font-size: 30px;
   font-weight: 400;
}

.tle{
   top: 45%;
   position: absolute;
   color: #334B35;
   font-family: 'Merriweather';
   left: 3%;
   font-size: 30px;
}

.adr{
   left: 10px;
   top: 55%;
   font-family: 'Rancho';
   color: #6D8C54;
   font-size: 30px;
   font-weight: 400;
   position: absolute;
}

.rue{
   top: 65%;
   position: absolute;
   color: #334B35;
   font-family: 'Merriweather';
   left: 3%;
   font-size: 30px;
}

.line3{
   background-color: white;
   height: 1px;
   width: 300%;
}

.footer-lien2{
   position: absolute;
   display: flex;
   list-style: none;
   text-decoration: none;
   left: 65%;
}

.footer-lien2 img{
   width: 50%;
   height: auto;
}

.coperate{
   position: relative;
   top: 85%;
   right: 47%;
}

.coperate pre{
   font-size: 25px;
   color: white;
   position: absolute;
}